*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/tasks.xml
/.idea/assetWizardSettings.xml
/.idea/dictionaries
*.log
.navigation/
proguard/
bin/
gen/
release/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx

captures/

lint/intermediates/
lint/generated/
lint/outputs/
lint/tmp/